<style>
    body {
        background-color: #F5F5F5;
    }
</style>
<div class="mallHeader mallHeaderStatic">
    <!--<a href="" class="menu"><img src="images/menu.png" alt=""></a>-->
    <span>修改密码</span>
</div>
<div class="modifyDiv">
    <div class="modifyWrap">
        <input type="password" id="newPassword" placeholder="输入密码(不少于6位字符)">
    </div>
    <div class="modifyWrap">
        <input type="password" id="newPasswordAgain" placeholder="确认密码">
    </div>
</div>


<input class="modifyNext" ng-click="modifyPassword()" type="button" value="下一步">
<div class="bottomBlank"></div>
<div class="footerNav">

    <a ng-click="goback()" class="backIcon">

    </a>
    <a href="#/home" class="homeIcon">

    </a>
    <a id="easemob" class="userIcon">

    </a>
</div>
<div class="clearBoth"></div>