<style>
    body {
        background-color: #F5F5F5;
    }
</style>
<div class="mallHeader mallHeaderStatic">
    <!--<a href="" class="menu"><img src="images/menu.png" alt=""></a>-->
    <span>修改头像</span>
</div>
<div class="uploadDiv">
    <input id="law_scan4" class="law_scan" type="button" value="选择图片" />
    <input id="law_files4" class="law_upload" type="button" value="确定上传" />
    <div id="fileList4" class="law_preimg"></div>
</div>

<div class="bottomBlank"></div>
<div class="footerNav">

    <a ng-click="goback()" class="backIcon">

    </a>
    <a href="#/home" class="homeIcon">

    </a>
    <a id="easemob" class="userIcon">

    </a>
</div>
<div class="clearBoth"></div>