<style>
    body {
        background-color: #F5F5F5;
    }
</style>
<div class="mallHeader loginHeader mallHeaderStatic">
    <span>设置</span>
</div>
<!--<div class="exitWrap tuisong">
    推送消息设置 <img src="images/right.png" alt="">
</div>
<div class="exitWrap clearlocal">
    清除本地缓存
</div>-->
<div class="exitWrap">
    关于<img src="images/right.png" alt="">
</div>
<input ng-click="exit()"  class="exit_nextBtn" type="button" value="退出登录">



<div class="bottomBlank"></div>
<div class="footerNav">

    <a ng-click="goback()" class="backIcon">

    </a>
    <a href="#/home" class="homeIcon">

    </a>
    <a class="userIcon">

    </a>
</div>
<div class="clearBoth"></div>