<style>
    body {
        background-color: #F7F7F9;
    }
    
    .addDate {
        /*height: 8vw;*/
        font-size: 4vw;
        line-height: 8vw;
        margin-left: 2vw;
        margin-top: 3vw;
    }
    
    .spanSpan {
        border: 1px solid #d1d1d1;
        padding-right: 2vw;
    }
    
    .selectHealthDateSpanimg {
        width: 5vw;
        margin-left: 2vw;
    }
    
    .selectHealthDate {
        position: absolute;
        left: 38vw;
        top: 6vw;
    }
    .dandu {
        text-align: left;
        padding-top:2vw;
        padding-bottom:2vw;
    }
    .selectHealthDate {
        position: absolute;
        left: 61vw;
        top: 8vw;
    }

</style>
<div class="allMask"></div>
<div class="addDate">
    <div style="float: right;margin-right: 2vw;position: relative">
        <span>体检日期: </span>
        <span class="spanSpan"><span class="selectHealthDateSpan">{{queryDate[0].checkTime}}</span><img class="selectHealthDateSpanimg"
                                                                                                        src="images/downtime.png" alt=""></span>
    </div>

    <div class="selectHealthDate">
        <div checknum={{item.checkTime}} inspectNum={{item.inspectNum}}  health-Project ng-repeat="item in queryDate">{{item.checkTime}}</div>
    </div>
    <div>姓名：<span ng-bind="queryDate[0].userCname"></span></div>
    <!--<div>年龄：<span ng-bind="queryDate[0].age"></span></div>-->
</div>

<div class="healthProject">
    <p class="dandu">一般健康管理</p>
    <div class="imgRepWrap">

        <div  class="imgRepWrapDiv">
            <a ng-click="projectOne()">
                <img ng-show="!p5022"  ng-src="images/healthProject/renti_nodata.png" alt="">
                <img ng-show="p5022" ng-src="images/healthProject/renti_data.png" alt="">
                <p>人体成分分析</p>
            </a>
        </div>
        <div  class="imgRepWrapDiv">
            <a ng-href="{{tili}}">
                <img ng-show="!p5011" ng-src="images/healthProject/yixueshengli_nodata.png" alt="">
                <img ng-show="p5011" ng-src="images/healthProject/yixueshengli_data.png" alt="">
                <p>医学生理年龄</p>
            </a>
        </div>

        <div  class="imgRepWrapDiv">
            <a ng-click="projectThree()">
                <img ng-show="!p5012" ng-src="images/healthProject/jiatingyixue_nodata.png" alt="">
                <img ng-show="p5012" ng-src="images/healthProject/jiatingyixue_data.png" alt="">
                <p>家庭医学</p>
            </a>
        </div>
        <div  class="imgRepWrapDiv">
            <a ng-click="projectFour()">
                <img ng-show="!p5021"  ng-src="images/healthProject/yingyansaomiao_nodata.png" alt="">
                <img ng-show="p5021"  ng-src="images/healthProject/yingyansaomiao_data.png" alt="">
                <p>鹰眼扫描</p>
            </a>
        </div>

    </div>
    <div class="clearBoth"></div>
    <p class="dandu" style="margin-top: 30vw;">预防医学健康管理</p>
    <div class="imgRepWrap">
        <div  class="imgRepWrapDiv">
            <a ng-click="projectFive()">
                <img ng-show="!p5042" ng-src="images/healthProject/badajiancha_nodata.png" alt="">
                <img ng-show="p5042" ng-src="images/healthProject/badajiancha_data.png" alt="">
                <p>八大功能检查</p>
            </a>
        </div>
        <div  class="imgRepWrapDiv">
            <a ng-href="{{tili}}">
                <img ng-show="!p5032" ng-src="images/healthProject/yixuetili_nodata.png" alt="">
                <img ng-show="p5032" ng-src="images/healthProject/yixuetili_data.png" alt="">
                <p>医学体力年龄</p>
            </a>
        </div>
        <div  class="imgRepWrapDiv">
            <a ng-click="projectSeven()">
                <img ng-show="!p5031"  ng-src="images/healthProject/xinlipinggu_nodata.png" alt="">
                <img ng-show="p5031"  ng-src="images/healthProject/xinlipinggu_data.png" alt="">
                <p>心里评估</p>
            </a>
        </div>
        <div  class="imgRepWrapDiv">
            <a ng-click="projectEight()">
                <img ng-show="!p5041" ng-src="images/healthProject/zhinengzaoshuai_nodata.png" alt="">
                <img ng-show="p5041" ng-src="images/healthProject/zhinengzaoshuai_data.png" alt="">
                <p>智能早癌筛查</p>
            </a>
        </div>
        <div  class="imgRepWrapDiv">
            <a ng-click="projectNine()">
                <img ng-show="!p5033" ng-src="images/healthProject/yufang_nodata.png" alt="">
                <img ng-show="p5033" ng-src="images/healthProject/yufang_data.png" alt="">
                <p>预防医学健康管理报告</p>
            </a>
        </div>
        <div class="clearBoth"></div>

    </div>
</div>

<div class="bottomBlank"></div>
<div class="footerNav">

    <a ng-click="goback()" class="backIcon">

    </a>
    <a href="#/home" class="homeIcon">

    </a>
    <a id="easemob" class="userIcon">

    </a>
</div>
<div class="clearBoth"></div>

<script>
    // $('.spanSpan').click(function () {
    //     $('.allMask').show()
    //     $('.selectHealthDate').show()
    // })

</script>