<style>
    img {
        display: block !important;
        width: 100vw !important;
    }
</style>
<div class="mallHeader">
    韩一商城
</div>
<div style="height: 10vw;width: 100%;"></div>
<img ng-src="{{imgIp+doctorsInfo.doctorPhotoUrl}}" alt="">
<div id="articleContextStyle" ng-bind-html="doctorDescriptionStyle">

</div>
<!--<img ng-repeat="item in rows[0].imgList" ng-src="{{imgIp+item.fileUrl}}" alt="">

<a ng-click="doctorsInfo()" ng-repeat="item in doctors.rows"><img ng-src="{{imgIp+item.descPhotoUrl}}" alt=""></a>-->

<div class="bottomBlank"></div>
<div class="footerNav">

    <a ng-click="goback()" class="backIcon">

    </a>
    <a href="#/home" class="homeIcon">

    </a>
    <a id="easemob" class="userIcon">

    </a>
</div>
<div class="clearBoth"></div>