<style>
    img {
        display: block !important;
        width: 100vw !important;
    }
    /*section{
    width: 100vw !important;
}*/
</style>

<div ng-bind-html="articleContextStyle">

</div>


<div class="bottomBlank"></div>
<div class="footerNav">

    <a ng-click="goback()" class="backIcon">

    </a>
    <a href="#/home" class="homeIcon">

    </a>
    <a href="kefu.easemob.com/webim/im.html?tenantId=36239" class="userIcon">

    </a>
</div>
<div class="clearBoth"></div>