<style>
    body {
        background-color: #F5F5F5;
    }
</style>
<div class="mallHeader mallHeaderStatic">
    <!--<a href="" class="menu"><img src="images/menu.png" alt=""></a>-->
    <span>获取验证码</span>
</div>
<div class="modifyDiv">
    <div class="modifyWrap">
        <span>手机号：</span><input readonly value="{{favoriteCookie.telephone}}" id="getCodeInput" type="text">
        <input type="button" class="reqCode" id="reqCode" value="获取验证码" />
    </div>
    <div class="modifyWrap">
        <input type="text" id="inputCode" placeholder="请输入验证码">
    </div>
</div>


<input class="modifyNext" ng-click="codePhoneNext()" type="button" value="下一步">
<div class="bottomBlank"></div>
<div class="footerNav">

    <a ng-click="goback()" class="backIcon">

    </a>
    <a href="#/home" class="homeIcon">

    </a>
    <a id="easemob" class="userIcon">

    </a>
</div>
<div class="clearBoth"></div>