<style>
    body {
        background-color: #F5F5F5;
    }
</style>
<div class="mallHeader mallHeaderStatic">
    <!--<a href="" class="menu"><img src="images/menu.png" alt=""></a>-->
    <span>修改性别</span>
</div>

<div class="modifyIdDiv" style="margin-bottom: 1px;">
    <input class="worthData" readonly type="text" value="男">
</div>
<div class="modifyIdDiv">
    <input class="worthData" readonly type="text" value="女">
</div>

<div class="bottomBlank"></div>
<div class="footerNav">

    <a ng-click="goback()" class="backIcon">

    </a>
    <a href="#/home" class="homeIcon">

    </a>
    <a id="easemob" class="userIcon">

    </a>
</div>
<div class="clearBoth"></div>