<style>
    body {
        background-color: #F5F5F5;
    }
</style>
<div class="mallHeader mallHeaderStatic">
    <!--<a href="" class="menu"><img src="images/menu.png" alt=""></a>-->
    <span>修改出生日期</span>
    <span ng-click="modifySave()" class="modifySave">保存</span>
</div>

<div class="modifyIdDiv">
    <input id="userBirthday" style="font-size: 14px" readonly placeholder="{{subDate}}" type="text">
</div>

<div class="bottomBlank"></div>
<div class="footerNav">

    <a ng-click="goback()" class="backIcon">

    </a>
    <a href="#/home" class="homeIcon">

    </a>
    <a id="easemob" class="userIcon">

    </a>
</div>
<div class="clearBoth"></div>