<div>
    <div style="background-color: #0D9FFD;padding: 3vw 5vw">
        <input ng-model="formData.key" type="text" style="width: 80%;height: 6vw;padding-left: 2vw">
        <button style="height: 7vw;width: 16%;position: relative;top: 1px;border: 1px solid #fff;color: #fff;background-color: transparent;" ng-click="search()">搜索</button>
    </div>
    <div>
        <img src="images/report.png" alt="" style="width: 100%">
    </div>
    <div ui-view="" style="margin-bottom: 10vw">

    </div>
    <div class="footerNav">

        <a href="#/userInfo" class="backIcon">

        </a>
        <a href="#/home" class="homeIcon">

        </a>
        <a onclick="easemobIM()" class="userIcon">

        </a>
    </div>
    <div class="clearBoth"></div>
</div>