<div class="reportNav">
    <div class="navCenter">
        <a href="#/totalSug" style="background-color: #6B5ACD; color: #ffffff;" class="totalSug">综述及建议</a>
        <a href="#/healthRep" class="healthRep">体检报告</a>
        <a href="#/imgRep" class="imgRep">图片报告</a>
    </div>
</div>
<!--<div style="height: 10vw;"></div>-->
<!--<div class="declare">说明</div>-->
<div style="height: 13vw;"></div>
<div class="summaryDiv">
    <p>综述:</p>
    <div style="line-height: 8vw;" ng-bind-html="newSummary">
    </div>
</div>
<div class="summaryDiv">
    <p>建议:</p>
    <div style="line-height: 8vw;" ng-bind-html="newAdvice">
    </div>
</div>























<div class="bottomBlank">

</div>
<div class="footerNav">

    <a href="#/queryReport" class="backIcon">

    </a>
    <a href="#/home" class="homeIcon">

    </a>
    <a id="easemob" class="userIcon">

    </a>
</div>
<div class="clearBoth"></div>